.top-row,.bottom-row {
    display: table
}

.top-row .badge {
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: transparent;
    color: #d9ccff;
    width: 60px;
    height: 24px;
    line-height: 22px;
    border-radius: 3px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 4px;
    letter-spacing: .4px
}

.top-row .badge.available {
    border: 1px solid #fa6f35;
    background-color: #fa6f35;
    color: #fff
}

.badge-container.dark .top-row .badge {
    color: #828282;
    border-color: #ddd;
    background-color: #fafafa
}

.badge-container.dark .top-row .badge.available {
    color: #fff;
    background-color: #fa6f35;
    border-color: #fa6f35
}

.bottom-row .badge {
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: transparent;
    color: #d9ccff;
    width: 60px;
    height: 24px;
    line-height: 22px;
    border-radius: 3px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 4px;
    letter-spacing: .4px;
    margin-bottom: 0
}

.bottom-row .badge.available {
    border: 1px solid #fba338;
    background-color: #fba338;
    color: #fff
}

.badge-container.dark .bottom-row .badge {
    color: #828282;
    border-color: #ddd;
    background-color: #fafafa
}

.badge-container.dark .bottom-row .badge.available {
    color: #fff;
    background-color: #fba338;
    border-color: #fba338
}

.release-row {
    margin-left: -15px;
    margin-right: -15px;
    max-width: 1300px;
    margin: 60px auto 90px
}

.release-row:before,.release-row:after {
    content: " ";
    display: table
}

.release-row:after {
    clear: both
}

@media (max-width: 480px) {
    .release-row {
        margin:0 auto 45px
    }
}

@media (min-width: 1200px) {
    .release-row {
        display:-ms-flexbox;
        display: flex;
        max-width: 1600px
    }
}

.release-row .column {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 45px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 800px
}

@media (min-width: 1200px) {
    .release-row .column {
        float:left;
        width: 50%
    }
}

@media (max-width: 1199px) {
    .release-row .column {
        padding:0 15px;
        margin: auto
    }
}

@media (min-width: 1200px) {
    .release-row.divider .column {
        margin-top:50px;
        font-size: 18px
    }

    .release-row.divider .column h3:first-child {
        margin-top: 0
    }

    .release-row.divider .column:nth-child(1) {
        padding-right: 90px
    }

    .release-row.divider .column:nth-child(2n+2) {
        border-left: 1px solid #eeeeee;
        padding-left: 90px
    }
}

@media (min-width: 1200px) {
    .release-row.image-left .image-column {
        right:50%
    }
}

@media (min-width: 1200px) {
    .release-row.image-left .text-column {
        left:50%
    }
}

.release-row.align-top .column {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.reference-buttons .btn-default {
    border-color: #e7e7e7;
    color: #444;
    margin-bottom: 3px
}

.reference-buttons .btn-default:hover {
    transition: all .15s ease
}

.ref-buttons-second-features {
    margin-top: 10px;
    margin-bottom: 20px
}

.ref-buttons-second-features .btn-xs {
    font-size: 14px
}

.product-icon {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
    align-self: center
}

.product-icon svg {
    height: 1em;
    width: 1em;
    fill: #444;
    fill-rule: nonzero;
    margin-top: 4px;
    margin-right: 5px
}

.product-icon-xm {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: center;
    align-self: center
}

.product-icon-xm svg {
    height: 1em;
    width: 1em;
    fill: #444;
    fill-rule: nonzero;
    margin-top: 3px;
    margin-right: 3px
}

.zero-bottom-margin {
    margin-bottom: 0
}

.changelog {
    margin: 70px 0
}
