<template>
    <h1>Categories.yml</h1>
</template>

<script>
    module.exports = {
        props: ["title"],
        data() {
            return {
                items: [],
                showItems: false
            }
        },
        created() {
            this.GetFeatures()
        },
        methods: {
            GetFeatures() {
                console.log("Getting features...")
                this.getFile('categories', response => {
                    let doc = jsyaml.load(response.data);
                    console.log(doc)

                    this.items = doc.features
                    setTimeout(() => {
                        this.showItems = true
                    }, 1000)
                })
            }
        }
    }
</script>