<template>
<div>
    <div class="email-inbox-header">
        <div class="row">
            <div class="col-lg-2">
                <div class="email-title"><span class="icon"><i class="fas fa-list"></i></span> 
                Features <span class="new-messages">{{filteredList.length}}</span> </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-2">
                        Core
                        <div class="switch-button switch-button-sm">
                            <input type="checkbox" checked="" id="chkCore" value="core" v-model="searchTiers">
                            <span><label for="chkCore"></label></span>
                        </div>
                    </div>
                    <div class="col-2">
                        Starter
                        <div class="switch-button switch-button-sm">
                            <input type="checkbox" checked="" id="chkStarter" value="starter" v-model="searchTiers">
                            <span><label for="chkStarter"></label></span>
                        </div>
                    </div>
                    <div class="col-2">
                        Premium
                        <div class="switch-button switch-button-sm">
                            <input type="checkbox" checked="" id="chkPremium" value="premium" v-model="searchTiers">
                            <span><label for="chkPremium"></label></span>
                        </div>
                    </div>
                    <div class="col-2">
                        Ultimate
                        <div class="switch-button switch-button-sm">
                            <input type="checkbox" checked="" id="chkUltimate" value="ultimate" v-model="searchTiers">
                            <span><label for="chkUltimate"></label></span>
                        </div>
                    </div>
                    <div class="col-2">
                        Missing
                        <div class="switch-button switch-button-sm">
                            <input type="checkbox" checked="" id="chkMissing" value="missing" v-model="searchTiers">
                            <span><label for="chkMissing"></label></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <select class="form-control">
                    <option>Category</option>
                    <option v-for="item in categories" v-bind:key="item.iid" :value="item.iid"> 
                        {{item.name}}
                    </option>
                </select>
            </div>
            <div class="col-lg-4">
                <div class="email-search">
                    <div class="input-group input-search">
                        <input class="form-control" type="text" placeholder="Search..." v-model="searchFilter"><span class="input-group-btn">
                        <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="email-list">
        <div v-if="showItems">
            <div class="email-list-item" v-for="(item, index) in filteredList" v-bind:key="index">
                <feature-item v-bind:item="item"></feature-item>
                <feature-details v-bind:item="item"></feature-details>
            </div>
        </div>
        <div class="col-12" v-else>
            <br/><br/>
            <div class="card">
                <h5 class="card-header">Loading...</h5>
                <div class="card-body">
                    <span class="dashboard-spinner spinner-warning spinner-xxl"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    module.exports = {
        props: ["title"],
        data() {
            return {
                items: [],
                categories: [],
                showItems: false,
                searchFilter: '',
                searchTiers: ["core", "starter", "premium", "ultimate", "missing"]
            }
        },
        created() {
            this.getData('features', this.addFeatures);
            this.getData('categories', this.addCategories)
        },
        methods: {
            addFeatures(doc) {
                console.log("Getting features...")
                console.log(doc);
                this.items = doc.features
                this.showItems = true;
            },
            addCategories(doc) {
                console.log("Getting categories...")
                console.log(doc);
                this.categories = this.categoryArray(doc)
            }
        },
        computed: {
        filteredList() {
            let step0 = this.filterFreeText(this.items, this.searchFilter);

            //TODO: write this - get selected category
            let step1 = this.filterCategory(step0)
            //TODO: write this - get object with core
            let step2 = this.filterTier(step1, this.searchTiers)
            
            return step2
        }
  }
    }
</script>
