<template>
<div>
    <h1>Welcome to YAMLlab</h1>
    <hr/>
    <h2>
        A tool for rendering and searching GitLab YML files.
    </h2>
    <p>
        Specifically many of those located in the 
        <a href="https://gitlab.com/gitlab-com/www-gitlab-com" target="_blank">
            <code>www-gitlab-com</code>
        </a>
        project to help create the about.gitlab.com website.
    </p>
    <h3>Current Tools</h3>
    <ul class="list-unstyled arrow">
        <li><router-link tag="a" to="/features">features.yml viewer</router-link></li>
        <li><router-link tag="a" to="/release-post">Release Post writer</router-link></li>
    </ul>
</div>
</template>

<script>
    module.exports = {
        props: ["title"],
        data() {
            return {
                trucks: 'you know a lot'
            }
        },
        created() {
            
        },
        methods: {
        
        }
    }
</script>