<template>
<div>
    <h1>Release Post Writer</h1>
    <div class="row">
        <div class="col-6">
            <div class="section-block">
                <h3 class="section-title">
                    Write a feature post
                </h3>
            </div>
            <div class="card">
                <h5 class="card-header">
                    <div class="row">
                        <div class="col-9">
                            Write your post here 
                        </div>
                        <div class="col-3">
                            <button id="btnReset" @click="resetForm()" class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        </div>
                    </div>
                </h5>
                <div class="card-body">
                    <form id="mainForm">
                        <div class="form-group">
                            <label for="inputName" class="col-form-label">Name</label>
                            <input id="inputName" type="text" class="form-control" v-model="theFeature[0].name">
                        </div>
                        <div class="form-group">
                            <label for="chkAvailGroup" class="col-form-label">Available In</label><br/>
                            <label class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="core" v-model="availIn">
                                <span class="custom-control-label">Core</span>
                            </label>
                            <label class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="starter" v-model="availIn">
                                <span class="custom-control-label">Starter</span>
                            </label>
                            <label class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="premium" v-model="availIn">
                                <span class="custom-control-label">Premium</span>
                            </label>
                            <label class="custom-control custom-checkbox custom-control-inline">
                                <input type="checkbox" class="custom-control-input" value="ultimate" v-model="availIn">
                                <span class="custom-control-label">Ultimate</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="inputDocs" class="col-form-label">Documentation Link</label>
                            <input id="inputDocs" type="text" class="form-control" v-model="theFeature[0].documentation_link">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="inputReporter" class="col-form-label">Reporter</label>
                                    <input id="inputReporter" type="text" class="form-control" v-model="theFeature[0].reporter">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="inputStage" class="col-form-label">Stage Name</label>
                                    <input id="inputStage" type="text" class="form-control" v-model="theFeature[0].stage">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputIssue" class="col-form-label">Issue URL</label>
                            <input id="inputIssue" type="text" class="form-control" v-model="theFeature[0].issue_url">
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-form-label">Description</label>
                            <textarea rows="10" v-model="theFeature[0].description" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="section-block">
                <h3 class="section-title">
                    YAML output
                </h3>
            </div>
            <div class="card">
                <h5 class="card-header">
                    <div class="row">
                        <div class="col-9">
                            Feature YAML for post
                        </div>
                        <div class="col-3">
                            <button id="btnCopy" @click="copyText('theText', 'btnCopy')" class="btn btn-dark">
                                <i class="fas fa-copy"></i>
                            </button>
                        </div>
                    </div>
                </h5>
                <div class="card-body">
                    <div class="">
                        <div class="alert alert-secondary" id="theText" role="alert" v-html="this.featureToYAML(theFeature)">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    module.exports = {
        props: ["title"],
        data() {
            return {
                items: [],
                showItems: false,
                name: '',
                theFeature: this.resetFeature(),
                availIn: [ 'core', 'starter', 'premium', 'ultimate' ]
            }
        },
        created() {
            this.GetFeatures()
        },
        methods: {
            GetFeatures() {
                console.log("Getting features...")
                this.getFile('categories', response => {
                    let doc = jsyaml.load(response.data);
                    console.log(doc)

                    this.items = doc.features
                    setTimeout(() => {
                        this.showItems = true
                    }, 1000)

                    
                })
            },
            featureToYAML(fet) {
                //TODO: need to adjust this array to a string?
                this.theFeature[0].available_in =  this.availIn;
                let yml = jsyaml.safeDump(fet);
                //For HTML, replace \n with <br/>
                yml = yml.replace(/(?:\r\n|\r|\n)/g, '<br/>');
                //For HTML, replace ' ' with &nbsp;
                yml = yml.replace(/ /g, '\u00a0')
                return yml
            },
            resetForm() {
                document.getElementById("mainForm").reset();
                this.theFeature = this.resetFeature();
            },
            resetFeature() {
                return [
                    {
                        name: '',
                        available_in: '',
                        //gitlab_com: true,
                        documentation_link: '',
                        reporter: '',
                        stage: '',
                        issue_url: '',
                        description: ''
                    }
                ]
            }
        }
    }
</script>