<template>
<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="/">
            {{ title }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item dropdown connection">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fab fa-fw fa-gitlab"></i> </a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="https://gitlab.com/yamllab/yamllab.gitlab.io" target="_blank"><i class="fab fa-git-square mr-2"></i>Repository</a>
                        <a class="dropdown-item" href="https://gitlab.com/yamllab/yamllab.gitlab.io/issues/new" target="_blank"><i class="fas fa-bug mr-2"></i>Open an Issue</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</template>


<script>
    module.exports = {
        props: ["title"],
        data() {
            return {
                
            };
        },
        created() {
            
        },
        methods: {
        
        }
    }
</script>