<template>
    <div class="email-list-actions">
        <a class="favorite" v-bind:class="{ active: this.gitlabHas(item)}" href="#"><span><i class="fab fa-2x fa-gitlab"></i></span></a>
    </div>
</template>

<script>
    module.exports = {
        props: ["item"],
        data() {
            return {
            }
        },
        created() {

        },
        methods: {
            
        }
    }
</script>