<template>
    <div class="email-list-detail">
        <div class="row">
            <div class="col-9">
                <span class="from">
                    {{ item.title }}
                </span>
                <p class="msg">
                    {{ item.description }}
                </p>
            </div>
        <div class="col-3">
            <span class="badge badge-warning" v-if="item.gitlab_core">CORE</span>
            <span class="badge badge-warning" v-if="item.gitlab_starter">STARTER</span>
            <span class="badge badge-warning" v-if="item.gitlab_premium">PREMIUM</span>
            <span class="badge badge-warning" v-if="item.gitlab_ultimate">ULTIMATE</span>
        </div>
        </div>
        
        
    </div>
</template>


<script>
    module.exports = {
        props: ["item"],
        data() {
            return {
            }
        },
        created() {

        },
        methods: {
            
        }
    }
</script>