<template>
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Files
                    </li>
                    <router-link v-for="route in nav" tag="li" :to="route.path" v-bind:key="route.path" class="nav-item">
                        <a class="nav-link">
                            <i class="fas fa-fw" :class="route.icon"></i>
                            {{ route.title }}
                            </a>
                    </router-link>
                </ul>
            </div>
        </nav>
    </div>
</div>
</template>

<script>
    module.exports = {
        props: ["nav"],
        data() {
            return {
                
            };
        },
        created() {
            
        },
        methods: {
        
        }
    }
</script>